@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap');

*, *::before, *::after {
     margin: 0;
     padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Familjen Grotesk', sans-serif;
    background-color: #3717c7;
    color: #fff;
    width: 85%;
    margin: auto
}

a {
    text-decoration: none;
    color: #fff;
}

/* Header/Navbar */

.main-header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    height: 100px;
    padding: 0 30px;
    padding-top: 24px;
    margin-bottom: 88px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Logo */
.logo {
    width: 160px;
    height: auto;
}

.logo img {
    display: block;
    width: 100%;
    height: auto;
}


/* Sections */

.section-a {
    position: relative;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.section-inner {
    /* position: absolute; */
    bottom: 200px;
    left: 150px;
    max-width: 480px;

}

.section-inner h4 {
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: 300;
    animation: fadeInUp 0.5s ease-in-out;
}

.section-inner h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    animation: fadeInUp 0.5s ease-in-out 0.2s;
    animation-fill-mode: both; /* stop from showing at start of animation */
}

.section-inner a {
    animation: fadeInUp 0.5s ease-in-out 0.4s;
    animation-fill-mode: both; /*stop from showing at start of animation */
}



.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

.btn {
    background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
      line-height: 42px;
      padding: 0;
      border: none;
      animation: fadeInUp 0.57s ease-in-out 0.23s;
      animation-fill-mode: both;
    }
    .btn span {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
    }
    .btn:before,
    .btn:after {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      background: rgba(251,75,2,1);
      box-shadow:
       -7px -7px 20px 0px rgba(255,255,255,.9),
       -4px -4px 5px 0px rgba(255,255,255,.9),
       7px 7px 20px 0px rgba(0,0,0,.2),
       4px 4px 5px 0px rgba(0,0,0,.3);
      transition: all 0.3s ease;
    }
    .btn:before{
       height: 0%;
       width: 2px;
    }
    .btn:after {
      width: 0%;
      height: 2px;
    }
    .btn:hover{
      color: rgba(251,75,2,1);
      background: transparent;
    }
    .btn:hover:before {
      height: 100%;
    }
    .btn:hover:after {
      width: 100%;
    }
    .btn span:before,
    .btn span:after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      background: rgba(251,75,2,1);
      box-shadow:
       -7px -7px 20px 0px rgba(255,255,255,.9),
       -4px -4px 5px 0px rgba(255,255,255,.9),
       7px 7px 20px 0px rgba(0,0,0,.2),
       4px 4px 5px 0px rgba(0,0,0,.3);
      transition: all 0.3s ease;
    }
    .btn span:before {
      width: 2px;
      height: 0%;
    }
    .btn span:after {
      height: 2px;
      width: 0%;
    }
    .btn span:hover:before {
      height: 100%;
    }
    .btn span:hover:after {
      width: 100%;
    }

.scroll-arrow {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    animation: fadeBounce 5s infinite;
}

footer {
    position: relative;
    padding: 55px 0;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer ul li{
    margin-right: 30px;
    color: #aaa;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    line-height: 2.5;
}

footer ul li a {
    color: #fff;
    transition: color 0.6s;
    text-decoration: none;
}
footer ul li a:hover{
    color: #aaa;
}

/* overlay */

.overlay-show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.section-animate {
    animation: fadeIn 2s ease-in-out;
}

.section-inner-center {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    width: 80%;
}

.section-inner-center h3 {
    font-size: 100px;
    margin-bottom: 15px;
    animation: fadeInUp 0.5s ease-in-out;
}

.section-inner-center p {
    font-size: 20px;
    animation: fadeInUp 0.5s ease-in-out 0.2s;
    animation-fill-mode: both;
}


/* Animations */

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(140px);
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Media Queries */

@media(max-width: 960px) {

    body {
        width: 80%;
        margin: auto;
        align-items: center;
    }

    .main-header {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .section-a {
        position: relative;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .section-inner-center h3 {
        font-size: 75px;
    }
}

@media(max-width: 600px) {
    .section-inner {
        bottom: 75px;
        left: 20px;
    }

    .section-inner h2 {
        font-size: 40px;
    }

    footer ul li:first-child {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    footer ul li {
        margin-right: 15px;
    }

    .logo {
        width: 120px;
        margin: auto;
    }

    .section-inner-center h3 {
        font-size: 50px;
    
    }
}

.card {
    width: 400px;
    height: 596px;
    border: 8px solid rgba(255, 255, 255, .2);
    border-radius: 8px;
    
    animation: fadeIn 0.8s ease-in-out 0.2s;
    animation-fill-mode: both;
}
  
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  
  .mc-field-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 8px;
    animation: fadeInUp 0.55s ease-in-out 0.22s;
    animation-fill-mode: both;
  }
  input {
    margin-bottom: 16px;
    max-width: 64%;
    border-radius: 4px;
  }